* {
  margin: 0;
  padding: 0; 
}

.navigation {
  margin-top: 25px;
  font-family: var(--font1);
  /* height: 74px;  */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  display: flex;
}

.nav-left span {
  font-size: 35px;
  padding-top: 10px;
}

.nav-left ul {
  display: flex;
  align-items: center;
  margin: 0 77px;
  font-size: 22px;
  padding-bottom: 23px;
}

.nav-left ul li {
  list-style: none;
  margin: 0 14px;
  font-family: var(--font2);
  transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
  text-decoration: none;
  color: black;
}

.nav-left ul li a:hover {
  color: var(--main-bg-color);
  font-weight: bolder;
}

.content {
  height: 100%;
  display: flex;
  margin-top: 32px;
  padding: 9px;
  position: relative;
}

.content::after {
  content: "";
  background-image: url("../img/11.svg");
  position: absolute;
  width: 100%;
  height: inherit;
  opacity: 0.15;
  border-radius: 12px;
}

.content-left {
  font-family: var(--font1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 49px;
  z-index: 1;
}

.content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-right img {
  height: 355px;
  border: 2px solid black;
  border-radius: 200px;
}

.home-articles {
  padding: 18px;
  background-color: rgb(248, 239, 239, 0.5);
  margin-top: 23px;
  position: relative;
}

.year-box {
  position: absolute;  
  right: 0px;
  top: 100px;
  width: 234px;
  height: 255px;
  font-size: 18px;
}

.year-box div {
  margin: 12px 0px;
}

.home-article {
  display: flex;
  margin: 25px;
}

.home-article img {
  width: 300px;
}

.home-article-content {
  align-self: center;
  padding: 25px;
}

.home-article-content a {
  text-decoration: none;
  color: black;
}
/* .home-articles{} */
.footer {
  height: 50px;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

code {
  color: #ffffff;
  font-family: monospace;
}

pre {
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
  border-radius: 5px;
  overflow-x: auto;
  display: block;
  width: 100%;
  box-sizing: border-box;
  min-height: 120px;
}

.responsive-img {
  display: block;
  width: 100%;        /* 親コンテナに合わせる */
  max-width: 640px;   /* 最大表示幅（好みで調整） */
  height: auto;       /* アスペクト比を維持 */
  object-fit: cover;  /* coverで切り取り的に収める場合 */
  border-radius: 6px;
  margin: 16px auto;  /* 中央寄せ（ブロック表示） */
}

/* 横幅いっぱいのカバー画像用（高さを固定して切り取る） */
.img-cover {
  display: block;
  width: 100%;
  height: 240px;      /* 固定高さ（調整可） */
  object-fit: cover;
  border-radius: 6px;
  margin: 16px 0;
}

.footer a {
  color: white;
}
